body{
    background-color: black;
}
body {
    background-color: #000;
    color: white;
    text-align: center;
}
.tech-card {
    background-color: #5a250e;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
}
.tech-card:hover {
    transform: scale(1.05);
}
.tech-card img {
    max-width: 50px;
}
.linha{
    width: 800px;
    height: 3px;
    background-color: #ff6600;
    border: none;
    margin: auto;
}
.linha2{
    width: 200px;
    height: 3px;
    background-color: #ff6600;
    border: none;
    margin: auto;
}
.cor_card{
    background-color: rgba(30, 30, 30, 0.95);
}
.cor_input {
    background-color: rgba(26, 26, 26, 0.9); 
    border: none;
    border-radius: 8px;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}
  
.cor_input::placeholder {
    color: #ccc;
}
  
.cor_input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ff6600;
}
.botaoo{
    background-color: #d35400;
    border: none;
    color: white;
    border-radius: 10px;
}
.card {
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.4);
  }
  
  .titulo_card {
    color: #ff6600;
    font-weight: bold;
  }
.ajuste1{
    padding: 150px;
}
.ajuste2{
    padding-top: 100px;
}
.logo-git{
    background-color: white;
    border-radius: 100%;
}
h1, h2, h3, p {
    text-shadow: 1px 1px 4px #000;
}
.btn.btn-primary:hover {
    transform: scale(1.05);
    transition: 0.3s;
}